body {
  background-image: url("https://media1.popsugar-assets.com/files/thumbor/s_s7XO8SyyICpHz8CLm0cCbp9wA/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2020/04/08/956/n/1922507/4dadda3b58741b2d_bob_s_burgers/i/Bob-Burgers-Zoom-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}
#create-form{
  background-color: tan;

}
  
.create-update-form {
  padding: 5px;
  margin: 5px;
  
}
.form-group {
  margin-bottom: 0px;
 
}
h1{
  background-color: tan;
  border-width: 10px;
}
h2{
  background-color: tan;
  margin-bottom: 0%;
  
}
 
.label {
  font-weight: bold;
}


.png {
  position: fixed, center;
}
ul {
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-color: tan;
  
}

  